body {
  margin: 0;
  border: 0;
}

.container {
  display: flex;
  align-items: center;
  background-image: linear-gradient(yellow, purple);
  height: 100vh;
  justify-content: center;
}

.card-form {
  width: 50%;
}

.card-image {
  width: 100%;
  margin: 0;
}